.task
  background-color rgba(255,255,255,0.5)
  border-radius 3px
  margin-top 18px
  padding 10px 20px
  position relative

  &:hover
    & .task__close
      display block

  &__title
    font-size 18px
    line-height 22px

  &__description
    font-size 12px
    font-weight 300
    line-height 14px
    padding-top 20px

  &__close
    cursor pointer
    display none
    height 20px
    position absolute
    right 0
    top 10px
    width 20px

    &:after
      bottom 0
      content 'X'
      font-size 18px
      font-weight bold
      left 0
      line-height 20px
      position absolute
      right 0
      text-align center
      top 0

